.featured-item {
    background-image: url('../../../assets/home/featured.jpg');
    position: relative;
}

.featured-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 23, 25, 0.406); /* Adjust color and opacity */
    z-index: 1;
}

.featured-item > * {
    position: relative;
    z-index: 2;
}
